@{
    var blog = ViewBag.Blog.Value;
}
<section>
    <h2><a href="@Url.Content("~/" + Model.Slug)">@Model.Title</a></h2>
    @Html.Raw(Model.HtmlContent)
    @if (ViewBag.SinglePost && !string.IsNullOrWhiteSpace(blog.Metadata.DisqusShortName))
    {
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    }
</section>