@using System
@{
    bool isAdmin = ViewBag.isAdmin;
    var blog = ViewBag.blog.Value;
    bool singleArticle = ViewBag.singleArticle.Value;
    DateTime currentTime = ViewBag.currentTime.Value;
}
<section>
    <div class="post contain">
        @if (singleArticle) {
            <h1>@Model.title</h1>
        }
        else {
            <h1><a href="@Model.slug">@Model.title</a></h1>
        }
        <div>@Html.Raw(Model.html)</div>
        <div>
            @if (singleArticle) {
                <a class="button space-top space-bottom" href="../">Back to Blog</a>
                 @if (isAdmin) {
                    <ul class="actions">
                        <li><a href="/@(Model.slug)/edit">Edit</a></li>
                     </ul>
                 }
            }
        </div>
    </div>
    @if (singleArticle && Model.comments && !string.IsNullOrWhiteSpace(blog.disqusShortName)) {
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    }
</section>