@{
    Layout = "_layout.cshtml";

    var articles = ViewBag.articles.Value;
    var hasPreviousPage = ViewBag.hasPreviousPage;
    bool hasNextPage = ViewBag.hasNextPage;
    int pageIndex = ViewBag.pageIndex;
}
@foreach (var article in articles)
{
    @Html.Partial("_article", article)
}
@if (hasPreviousPage) {
    <a href="?page=@(pageIndex - 1)">Newer Posts</a>
}
@if (hasNextPage) {
    <a href="?page=@(pageIndex + 1)">Older Posts</a>
}